@mixin icon($path, $width: null, $height: null, $hover: false, $contain: true) {
  background-image: url($path);

  @if $contain {
    background-size: contain;
  }

  @if not $hover {
    background-repeat: no-repeat;
    background-position: center;

    @if $width {
      width: $width;
    }

    @if $height {
      height: $height;
    }
  }
}

@mixin text-padding {
  @media (min-width: $breakpoint-md) {
    padding-left: 4rem;
    max-width: 600px;
  }
}

@mixin shadow-outline {
  outline: none;
  box-shadow: 0 0 0 3px #bcd8ff;
}

@mixin card-shadow {
  outline: none;
  box-shadow: 0 5px 30px -6px rgba(17, 41, 80, 0.05);
}

@mixin card-darker-shadow {
  outline: none;
  box-shadow: 0 9px 50px rgba(17, 41, 80, 0.08);
}

@mixin card-double-shadow {
  box-shadow: 0 2px 8px 0 rgba(17, 41, 80, 0.08);
  box-shadow: 0 20px 60px 0 rgba(17, 41, 80, 0.08);
}

@mixin card-gray-border {
  outline: none;
  border: 1px solid $color-gray-300;
}

@mixin accordion-card-shadow {
  outline: none;
  box-shadow: 0 20px 60px rgba(17, 41, 80, 0.08), 0 2px 8px rgba(17, 41, 80, 0.08);
}

$navbar-height: 88px;

@mixin navbar-padding($padding: 0) {
  @if $padding == 0 {
    padding-top: $navbar-height;
  }

  @else {
    padding-top: calc(#{$navbar-height} + #{$padding});
  }
}
