/*****************************************************************************
 Helpers
 *****************************************************************************/

.container {
  position: relative;
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $breakpoint-md) {
    padding: 0 40px;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 0 20px;
  }

  &--narrow {
    max-width: 700px;
  }
}

.align-self {
  align-self: center;
}

.full-width {
  width: 100%;
}

.center-text {
  text-align: center;
}

.font-w-300 {
  font-weight: 300;
}

.font-w-400 {
  font-weight: 400;
}

.font-w-700 {
  font-weight: 700;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-bottom-32 {
  margin-bottom: 32px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-48 {
  margin-bottom: 48px;
}

.margin-bottom-64 {
  margin-bottom: 64px;
}

.margin-bottom-96 {
  margin-bottom: 96px;
}

.margin-bottom-128 {
  margin-bottom: 128px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}
